.header {
  padding: 20px 160px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-form {
  display: flex;
  gap: 20px;

  input {
    border-radius: 15px;
    background-color: #f5f5f5;
    border: none;
    width: 300px;
    min-height: 56px;

    &::placeholder {
      padding: 16px;
    }
  }
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
