
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item {
    a {
        color: #808080;

        &:hover {
            color: #000000;
        }
    }

}

